blockquote {
  font-style: italic
}
#footer > p:first-child {
float: left;
text-align: left;
width: 33.3%; }

#footer > p:nth-child(2) {
float: left;
text-align: center;
width: 33.4%; 
}

#footer > p:last-child {
float: right;
text-align: right;
width: 33.3%; }


/* navbar */
  .navbar-default {
    background-color: #8fadbd;
    border-color: #8d2034;
      border-bottom: 5px solid #8d2034;
  }
/* title */
  .navbar-default .navbar-brand {
    color: #ffffff;
  }

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
    background-color: #8d2034;
}
/* link */
  .navbar-default .navbar-nav > li > a {
    color: #ffffff;
  }

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
    background-color: #8d2034;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #8d2034;
}
  
  .navbar-default .navbar-nav > .dropdown > a {
    color: #ffffff;
    background-color: #8d2034;
  }


.navbar-default .navbar-nav > .dropdown > a:hover {
  color: #ffffff;
    background-color: #8d2034;
}


.navbar-default .navbar-nav > .dropdown > a:focus {
  color: #ffffff;
  background-color: #8d2034;
}


.navbar-default .navbar-nav > .dropdown > .dropdown-menu > li > a:hover {
  color: #ffffff;
  background-color: #8d2034;
}


.navbar-default .navbar-nav > .dropdown >  .active > li > a,
.navbar-default .navbar-nav > .dropdown >  .active > li > a:hover,
.navbar-default .navbar-nav > .dropdown >  .active > li > a:focus {
  color: #ffffff;
  background-color: #8d2034;
}

.navbar-default .navbar-nav > .dropdown >  .open > li > a,
.navbar-default .navbar-nav > .dropdown >  .open > li > a:hover,
.navbar-default .navbar-nav > .dropdown >  .open > li > a:focus {
  color: #ffffff;
  background-color: #8d2034;
}



/* caret */
  .navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
  }
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

/* mobile version */
  .navbar-default .navbar-toggle {
    border-color: #8d2034;
  }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #8d2034;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #8d2034;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
      background-color: #8d2034;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
      background-color: #8d2034;
  }
}

hr {
  height: 2px;
  color: #ffffff;
    background-color: #8d2034;
    border: none;
}


<link rel="stylesheet" href="./font-awesome-4.5.0/css/font-awesome.min.css">